@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  box-sizing: border-box;
  font-family: inter;
  font-weight: bold;
  margin: 0;
  padding: 0;
  user-select: none;
  color: #FFAAB8;  
  overflow: hidden;
  text-align: center;
}
html,
body{
  height: 100%;
  width: 100%;
}
body{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 15px;
  background-color: #FCFEFC;
  justify-content: center;
}
img {
  width: 100%;
  z-index: -1;
}
.time-container,
.b,
.c,
.b,
.e,
.f,
.g {
  justify-self: center;
}
.time-container {
  font-size: 1.5rem;
  grid-area: 1 / 1 / span 4 / span 2;
}
h2 {
  margin: 20px
}
.d{
  grid-area: 3 / 1 / span 2 / span 2;
}
.b{
  grid-area: 1 / 3 / span 1 / span 3;
}
.c{
  grid-area: 1 / 3 / span 4 / span 3;
}
.e{
  grid-area: 4 / 3 / span 1 / span 3;
}
.f{
  grid-area: 1 / 6 / span 4 / span 2;
}
.c img {
  position: relative;
  bottom: 50px;
  z-index: -1;
}
input{
  height: 50px;
  width: 140px;
  margin: 20px;
  border-radius: 1rem;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  border: solid 4px #FFAAB8;
  background-color: #FFAAB8;
  color:#FFD8DF
}
input:hover{
  transform: scale(1.10);
  box-shadow: 0px 6px 10px #FFAAB8;
  transition: all 0.2s ease-out;
  cursor: pointer;
  border: solid 4px #FFAAB8;
  background-color: #FFD8DF;
  color: #FFAAB8;
}
input:active {
  transform: scale(1.05);
}
#container img {
  position: absolute;
  width: 100px;
  height: 100px;
  pointer-events: none; 
  transition: transform 0.3s ease;
  animation: pop 0.3s ease;
  z-index: 1;
}
@keyframes pop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
